@keyframes roue {
  to {
    transform: rotate(360deg);
  }
}

.test__header {
  background : gold; 
}

.test__title {
  font-size: 40px;
  text-align: center;
  color: white; 
}

.test__img {
  display: none;
}

.test__board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin: 0 auto;
  flex-flow: row wrap;
  list-style: none;
  border: solid black;
  height: 17rem;
  align-items: center; 

  li {
    width: 4rem;
    height: 4rem;
  }
}

.pear {
  background: green;
}

.apple {
  background: red;
}

.desert {
  background: sandybrown;
}

.sky {
  background: skyblue;
}

.isTestClicked {
  background: yellow;
  width: 4rem;
  height: 4rem;
  animation: roue 1s linear;
  animation-iteration-count: infinite;

}